<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CHECK OUT</title>
</head>
<body>
    <h1>anbwdbkwa</h1>
    <p><%= steak %></p>
</body>
</html>