* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 100%;
    height: auto;
}

.cart-item{
display: flex;
justify-content: center;
align-items: center;
width: 100%;
}
.item-name{
width: 33.33%;
}
.item-price{

}
.item-amount{

}