@import "bootstrap-sass/bootstrap/variables";
@import "bootstrap-sass/bootstrap/mixins";
@import "bootstrap-sass/bootstrap/carousel";
@import "../../node_modules/bootstrap/scss"



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .wrapper {
  }
  
  .cart-container {
      margin-block: 50px;
      width: 100%;
      height: auto;
      text-align: center;
      padding-inline: 300px;
  }
  
  .header{
      text-align: center;
      background-color: blanchedalmond;
  }
  
  .cart-item {
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
  }
  .item-name {
    width: 33.33%;
  }
  .item-price {
    width: 33.33%;
  }
  .item-amount {
    width: 33.33%;
  }
  